*.o
*.d
/VEX
/binutils
/boost
/fuzzball
/pin-2.13-65163-gcc.4.4.7-linux
/cfgs.h
/cfgs.ml
/cfgs.mli
/cfgs_stubs.c
/count-coverage
/path-length-test
/pintracer.so
/rbtest
/regiontest
/static
/stridedtest
/vineir
