*.o
*.d
/VEX
/binutils
/boost
/fuzzball
/pin-2.13-65163-gcc.4.4.7-linux
/pin-2.14-71313-gcc.4.4.7-linux
/pin-2.14-71313-gcc.4.4.7-linux.tar.gz
/cfgs.h
/cfgs.ml
/cfgs.mli
/cfgs_stubs.c
/count-coverage
/path-length-test
/pintracer.so
/rbtest
/regiontest
/static
/stridedtest
/vineir
fuzzball-tmp-*
[sbf][1-7]-baseline-*.out
[sbf][1-7]-guided-*.out
[sbf][1-7]-guided2-*.out
*.cmi
*.cmx
/cfg_fuzzball
cfg/MIT
vulapps/bind/b1/nxt-bad-myresolv-mylibc-diet
vulapps/bind/b2/sig-bad-diet
vulapps/bind/b3/iquery-bad-diet
vulapps/bind/b4/nsl-bad-diet
vulapps/sendmail/s1/ca-bad-mylibc-diet
vulapps/sendmail/s2/ge-bad-diet
vulapps/sendmail/s3/m1-bad-diet
vulapps/sendmail/s4/m2-bad-diet
vulapps/sendmail/s5/prescan-bad-diet
vulapps/sendmail/s6/ttflag-bad-mylibc-diet
vulapps/sendmail/s7/txtdns-bad-diet
vulapps/wu-ftpd/f1/mp-bad-mylibc-diet
vulapps/wu-ftpd/f2/obo-bad-diet
vulapps/wu-ftpd/f3/rp-bad-diet
include
lib
make-cfg
test_assoc
